html {
    font-size: 16px;
    background-color: var(--background);
    color: var(--text);
    font-family: var(--main);
    position: relative;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul {
    list-style-type: none;;
}

a {
    text-decoration: none;
    display: inline-block;
    color: black;
}

button {
    cursor: pointer;
    background-color: inherit;
    border: none;
    font-family: var(--main);
    font-size: inherit;
}

:root {
    --text: #000000;
    --background: #FFFFFF;
    --primary: #191A23;
    --secondary: #F3F3F3;
    --accent: #B9FF66;
    --main: "Space Grotesk", sans-serif;
}

/*mobile*/

.body_disable-scroll {
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
}
.text-p, p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.text-h1 {
    font-size: 42px;
    font-weight: 600;
}

.text-h2 {
    font-size: 36px;
    font-weight: 600;
}

.text-h3 {
    font-size: 26px;
    font-weight: 600;
}

.text-h4 {
    font-size: 18px;
    font-weight: 600;
}

.text_highlight-accent {
    background-color: var(--accent);
    display: block;
    border-radius: 7px;
    max-width: fit-content;
    min-width: fit-content;
}

.text_highlight-light {
    background-color: var(--background);
    display: block;
    border-radius: 7px;
    max-width: fit-content;
    min-width: fit-content;
}

.text_color-white {
    color: var(--background);
}

.text_color-accent {
    color: var(--accent);
}

.icon_size-m {
    width: 40px;
    height: 40px;
}

.icon_size-l {
    width: 30px;
    height: 30px;
}

.icon_size-s {
    height: 20px;
    width: auto;
}

.icon_size-xs {
    width: 13px;
    height: 13px;
}

.icon-arrow {
    display: flex;
    transition : all 0.3s;
    -webkit-transition : all 0.3s;
}

.icon-arrow_left {
    transform: rotate(180deg);
}

.icon-arrow_inactive {
    filter: invert(67%) sepia(0%) saturate(425%) hue-rotate(134deg) brightness(75%) contrast(86%);
    cursor: auto;
}

.icon-dot {
    width: 13px;
    height: 13px;
    transition : all 0.3s;
    -webkit-transition : all 0.3s;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(103%) contrast(103%);
}

.icon-dot_active {
    filter: invert(83%) sepia(25%) saturate(862%) hue-rotate(39deg) brightness(106%) contrast(110%);
}

.logo {
    height: 24px;
    width: auto
}


.logo-comps {
    height: 48px;
    width: auto;
}

.burger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    transition: all 0.3s;
    z-index: 1000;
}

.burger_active {
    position: fixed;
    right: 20px;
    top: 30px;
}

.burger_active .bar:first-child {
    transform: translate(0, 8px) rotate(45deg);
    /*transform: rotate(45deg);*/
}

.burger_active .bar:nth-child(2) {
    opacity: 0;
}

.burger_active .bar:last-child {
    transform: translate(0, -8px) rotate(-45deg);
    /*transform: rotate(45deg);*/
}

.bar {
    width: 24px;
    height: 2px;
    border-radius: 1px;
    background: var(--text);
    transition: all 0.3s;
}

.button {
    padding: 20px 35px;
    font-size: 20px;
    line-height: 28px;
    border-radius: 14px;
    font-family: var(--main);
}

.button_theme-light {
    color: var(--text);
    background-color: var(--background);
    border: 1px solid var(--primary);
    display: none;
}

.button_theme-dark {
    color: var(--background);
    background-color: var(--primary);
}

.button_theme-accent {
    color: var(--text);
    background-color: var(--accent);
}

.radio {
    display: flex;
    gap: 15px;
    cursor: pointer;
    position: relative;
    align-items: center;
}

.radio__button:not(:checked),
.radio__button:checked {
   width: 0;
   height: 0;
   position: absolute;
}

.radio__button:not(:checked) + .radio__label,
.radio__button:checked + .radio__label {
    line-height: 28px;
    position: relative;
    padding-left: 44px;
    cursor: pointer;
}

.radio__button:not(:checked) + .radio__label::before,
.radio__button:checked + .radio__label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    border: 1px solid var(--text);
    border-radius: 50%;
    background-color: var(--background);
}

.radio__button:not(:checked) + .radio__label::after,
.radio__button:checked + .radio__label::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--accent);
    transition: all 0.2s;
}

.radio__button:not(:checked) + .radio__label::after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.radio__button:checked + .radio__label::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.link {
    font-size: 20px;
    line-height: 28px;
}

.image__wrap {
    position: relative;
    width: 100px;
    height: 100px;
}

.image_style-accent {
    mask-image: url(icons/mask.svg);
    mask-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: relative;
}

.image__shadow_style-accent {
    /*mask-image: url(icons/mask.svg);
    mask-repeat: no-repeat;*/
    top: 5px;
    left: 5px;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: -1;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__input {
    padding: 18px 20px;
    border: 1px solid var(--primary);
    border-radius: 14px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--main);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: var(--background)
}

.form__input_theme-dark {
    border: 1px solid var(--background);
    background: #292A32;
    color: var(--background);
    padding: 21px 25px;
    width: 100%;
}

.form__message {
    height: 132px;
    resize: none;
}

.form__input::placeholder {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--main);
}

.form__input_theme-dark::placeholder {
    color: var(--background);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--main);
}

.form__input:focus {
    border: 1px solid var(--accent);
    outline: 1px solid var(--accent);
}

.card {
    border: 1px solid var(--primary);
    border-radius: 45px;
    box-shadow: 0 5px var(--primary);
    margin-bottom: 5px;
}

.card_theme-light {
    background-color: var(--secondary);
}

.card_theme-dark {
    background-color: var(--primary);
}

.card_theme-accent {
    background-color: var(--accent);
}

.card_size-l {
    padding: 50px;
}

.desctiption {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
}

.block {
    border-radius: 45px;
    padding: 50px;
}

.block_theme-light {
    background-color: var(--secondary);
}

.block_theme-dark {
    background-color: var(--primary);
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px auto 0 auto;
}

.pagination__dots {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 14px;
}

/*layout*/

.section {
    padding-left: 20px;
    padding-right: 20px;
}

.menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--background);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    transition: all ease-in 0.4s;
}

.menu_invisible {
    transform: translate(100%, 0);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
    position: relative;
}

.head__desc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 35px;
}

.head__image {
    margin-top: -25px;
    margin-bottom: -15px;

}

.head__logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.card-serv {
    display: flex;
    flex-direction: column;
    gap: 27px;
    justify-content: space-between;
    padding: 50px;
}

.card-serv__image {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.section-serv {
    margin-top: 60px;
    margin-bottom: 70px;
}

.section-serv__cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 40px;
}

.section-prop__desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-prop__image {
    display: none;
}

.section-case {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section-case__desc {
    padding-right: 20px;
}

.section-case__cards-wrap {
    display: flex;
    gap: 20px;
    overflow: auto;
}

.section-case__card {
    border-radius: 45px;
    background: var(--primary);
    padding: 42px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 80vw;
}

.section-case__button {
    display: flex;
    gap: 15px;
    align-items: center;
}

.section-quest__cards-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-quest {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-quest {
    padding: 30px;
    transition: all 0.3s;
}

.card-quest_open {
    background: var(--accent);
}

.card-quest__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-quest__desc {
    display: flex;
    gap: 33px;
    align-items: center;
}

.card-quest__button {
    height: 30px;
    width: 30px;
    background: var(--secondary);
    border: 1px solid var(--primary);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-quest__text {
    border-top: 1px solid var(--text);
    padding-top: 10px;
    margin-top: 10px;
}

.card-quest__text_invisible {
    max-height: 0;
    overflow: hidden;
}

.card-quest__content {
    transition: all 0.3s;
}

.card-quest__h1 {
    font-size: 30px;
    font-weight: 600;
}

.card-quest__h2 {
    font-size: 18px;
    font-weight: 600;
}

.card-team__icon {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
}

.card-team__header {
    position: relative;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid var(--text);
    padding-bottom: 20px;
    align-items: end;
}

.card-team__desc {
    padding-top: 20px;
}

.card-team {
    padding: 40px 35px;
    display: flex;
    flex-direction: column;
}

.section-team__cards-wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.section-team__button {
    display: flex;
    flex-direction: column;
}

.section-team {
    margin-top: 60px;
    margin-bottom: 60px;
}

.card-testi {
    max-width: calc(100vw - 100px);
    width: 100%;
}

.card-testi__content {
    border: 1px solid var(--accent);
    border-radius: 45px;
    padding: 30px;
    position: relative;
    margin-bottom: 28px;
}

.card-testi__content::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    background: var(--primary);
    transform: rotate(45deg);
    border-bottom: 1px solid var(--accent);
    border-right: 1px solid var(--accent);
    left: 48px;
    bottom: -22px;
}

.card-testi__title {
    padding-top: 20px;
    padding-left: 67px;
}

.section-testi__cards-wrap {
    display: flex;
    gap: 30px;
    width: 9999px;
    transition: all 0.3s;
    margin-left: 0;
}

.section-testi__cards {
    width: 100%;
    overflow: hidden;
}

.section-testi__content {
    padding: 30px;
}

.section-testi {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section-testi__pagination {
    max-width: calc(100vw - 100px);
    margin: auto;
}

.section-contact__radio {
    display: flex;
    justify-content: space-between;
    padding: 0 22px;
    align-items: center;
}

.section-contact__input {
    border-radius: 45px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    justify-content: center;
}

.section-contact__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 90px;
}

.footer__wrap {
    background: var(--primary);
    padding: 50px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.footer__content {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    gap: 37px;
    align-items: center;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    text-align: center;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    gap: 37px;
    align-items: center;
}

.footer__form {
    display: flex;
    flex-direction: column;
    gap: 22px;
    background: #292A32;
    padding: 30px;
    border-radius: 14px;
}

.footer__links {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.footer__foot {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding-top: 37px;
    border-top: 1px solid var(--background);
}

.item-desktop {
    display: none;
}

/*tablets*/
@media (min-width: 768px) {
    
}

/*usual screens without space on sides 768*/
@media screen and (min-width: 900px) {

    .item-desktop {
        display: inline-block;
    }

    .item-mobile {
        display: none;
    }

    .text-p, p {
        font-size: 18px;
    }
    
    .text-h1 {
        font-size: 60px;
    }
    
    .text-h2 {
        font-size: 40px;
    }
    
    .text-h3 {
        font-size: 30px;
    }
    
    .text-h4 {
        font-size: 20px;
    }

    .icon_size-xs {
        width: 25px;
        height: 25px;
    }
    
    .logo {
        height: 36px;
    }

    .button {
        width: fit-content;
    }

    .form {
        gap: 25px;
        padding: 0;
    }
    
    
    .form__input {
        font-size: 18px;
    }
    
    .form__message {
        height: 190px;
    }
    
    .form__input::placeholder {
        font-size: 18px;
    }
    

    .desctiption {
        max-width: 60vw;
    }

    .body_disable-scroll {
        position: relative;
    }

    .menu {
        display: flex;
        flex-direction: row;
        gap: 40px;
        position: relative;
        width: auto;
        height: auto;
    }

    .menu_invisible {
        transform: none;
    }

    .navigation__burger {
        display: none;
    }

    .form__input_theme-dark {
        width: 285px;
    }

    .desctiption {
        flex-direction: row;
        gap: 40px;
        text-align: left;
    }

    .block {
        padding: 60px;
    }

    .section {
        padding-left: 50px;
        padding-right: 50px;
        max-width: 1440px;
        margin: auto;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 70px;
    }

    .head__desc {
        height: 550px;
    }

    .head__image {
        order: 1;
        max-width: 40vw;
        height: auto;
        margin-left: auto;
    }

    .head__header {
        max-width: 40vw;
    }

    .head__text {
        max-width: 40vw;
    }

    .section-serv {
        margin-top: 140px;
        margin-bottom: 120px;
    }

    .section-serv__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        padding-top: 80px;
    }

    .card-serv {
        display: flex;
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
        padding: 50px;
    }
    
    .card-serv__desc {
        display: flex;
        flex-direction: column;
        gap: 93px;
    }
    
    .card-serv__button {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    .section-prop {
        position: relative;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .section-prop__desc {
        gap: 26px;
        max-width: 500px;
    }

    .section-prop__image {
        display: block;
        height: 394px;
        width: auto;
        position: absolute;
        top: -25px;
        right: 10vw;
    }

    .section-case {
        margin-top: 140px;
        margin-bottom: 140px;
        gap: 80px;
    }
    
    .section-case__cards-wrap {
        display: flex;
        gap: 0;
        border-radius: 45px;
        background: var(--primary);
        padding: 70px 0;
    }
    
    .section-case__card {
        border-radius: 0;
        background: var(--primary);
        padding: 0;
        min-width: auto;
        padding: 0 64px;
    }

    .section-case__card_mid {
        border-left: 1px solid var(--background);
        border-right: 1px solid var(--background);
        
    }
    
    .section-case__button {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    .card-quest {
        padding: 40px 60px;
    }

    .card-quest__button {
        height: 58px;
        width: 58px;
    }

    .card-quest__text {
        padding-top: 30px;
        margin-top: 30px;
    }

    .section-quest__cards-wrap {
        gap: 30px;
    }

    .section-quest {
        gap: 80px;
    }

    .card-quest__h1 {
        font-size: 60px;
        font-weight: 600;
    }
    
    .card-quest__h2 {
        font-size: 30px;
        font-weight: 600;
    }

    .card-team__header {
        padding-bottom: 28px;
    }
    
    .card-team__desc {
        padding-top: 28px;
    }

    .section-team__cards-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin-top: 80px;
    }

    .section-team__button {
        width: auto;
        flex-direction: row;
        justify-content: end;
    }

    .section-team {
        margin-top: 140px;
        margin-bottom: 100px;
    }

    .section-testi {
        gap: 80px;
    }

    .section-testi__cards-wrap {
        /*transform: translate(calc(((100vw - 100px - 30px)/4 + 30px) * (-1)), 0);*/
        margin-left: calc(((100vw - 100px - 30px)/4 + 30px) * (-1));
    }

    .card-testi {
        max-width: calc((100vw - 130px)/2);
    }

    .section-testi__pagination {
        max-width: calc((100vw - 130px)/2);
    }

    .section-testi__content {
        padding-left: 0;
        padding-right: 0;
    }


    .section-contact__radio {
        justify-content: start;
        padding: 0;
        gap: 35px;
    }
    
    .section-contact__input {
        padding: 0;
        gap: 40px;
    }
    
    .section-contact__form {
        display: flex;
        gap: 40px;
        width: 50%;
    }

    .section-contact__button {
        width: 100%;
    }

    .section-contact__content {
        background: var(--secondary);
        border-radius: 45px;
        padding: 60px 0 80px 100px;
        display: flex;
        justify-content: space-between;
    }

    .section-contact {
        gap: 80px;
        padding-top: 140px;
        padding-bottom: 140px;
    }

    .footer {
        max-width: 1440px;
        margin: auto;
    }

    .footer__wrap {
        margin: 0 50px;
        padding: 55px 60px 50px 60px;
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        gap: 50px;
    }
    
    .footer__menu {
        flex-direction: row;
        gap: 40px;
        text-decoration: underline;
    }

    .footer__content {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 16px;
    }
    
    .footer__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .footer__info {
        gap: 20px;
        align-items: start;
        text-align: left;
    }
    
    .footer__contact {
        gap: 27px;
        align-items: start;
    }
    
    .footer__foot {
        flex-direction: row;
        gap: 40px;
        align-items: start;
        padding-top: 50px;
    }
    
} 

@media screen and (min-width: 1150px) {

    .section {
        padding-left: 100px;
        padding-right: 100px;
    }

    .footer__wrap {
        margin: 0 100px;
    }

    .section-testi__cards-wrap {
        /*transform: translate(calc(((100vw - 200px - 30px)/4 + 15px) * (-1)), 0);*/
        margin-left: calc(((100vw - 200px - 30px)/4 + 15px) * (-1));
    }

    .card-testi {
        max-width: calc((100vw - 230px)/2);
    }

    .section-testi__pagination {
        max-width: calc((100vw - 230px)/2);
    }
}

@media screen and (min-width: 1230px) {

    .button_theme-light {
        display: block;
    }

    .section-team__cards-wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        margin-top: 80px;
    }
}

/*large screens with space on sides*/
@media screen and (min-width: 1330px) {

    .desctiption {
        max-width: 800px;
    }


    .head__desc {
        height: 500px;
    }

    .head__image {
        max-width: 600px;
        height: auto;
    }

    .head__header {
        max-width: 530px;
    }

    .head__text {
        max-width: 500px;
    }

    .section-testi__cards-wrap {
        /*transform: translate(calc(((1440px - 200px - 30px)/4 + 15px) * (-1)), 0);*/
        margin-left: calc(((1440px - 200px - 30px)/4 + 15px) * (-1));
    }

    .card-testi {
        max-width: calc((1440px - 230px)/2);
    }

    .section-testi__pagination {
        max-width: calc((1440px - 230px)/2);
    }

    .section-prop__image {
        display: block;
        height: 394px;
        width: auto;
        position: absolute;
        top: -25px;
        right: 200px;
    }

    .footer__form {
        flex-direction: row;
        gap: 20px;
        padding: 58px 40px;
    }
}


/*large screens with space on sides second version*/
@media screen and (min-width: 1440px) {


}